# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Virtual Environments
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# iOS / Xcode / Swift
build/
build_local/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
xcuserdata/
*.xcworkspace/xcshareddata
*.xcodeproj/xcshareddata
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*~.nib
*.swp

# IDEs
.idea/
.vscode/

# Logs
*.log
btsnoop_hci.log
btsnoop_hci_*.log
btsnoop_logs/
