<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>OpenCareFitness utilise le Bluetooth pour communiquer avec votre vélo elliptique Care Fitness CE-695.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>OpenCareFitness utilise le Bluetooth pour communiquer avec votre vélo elliptique Care Fitness CE-695.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>OpenCareFitness lit votre fréquence cardiaque depuis l'Apple Watch pour un suivi précis pendant l'exercice.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>OpenCareFitness enregistre vos séances d'entraînement (calories, distance, durée) dans Apple Santé.</string>
</dict>
</plist>
